body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: antiquewhite;
justify-content: center;
}

.navLink{
    font: Arial;
    list-style: none;
}
.top-border {
    font-size: xx-large;
    size: auto;
    height: auto;
    display: flex;
    color: black;
    align-items: top;
    justify-self: center;
    position: relative;
    text-align: center;
    border: 15px solid #555;
    margin-left: 10%;
    margin-right: 10%;
}

.centered {
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.book {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #77b3e8;
    padding: 10px;
    margin:10px;
    border: 10px;
}

.form-inline-delete{
    align-self: center;
    padding: 12px 16px;
    border: solid 5px;
    border-color: red;
    border-radius: 4px;
    background-color: #f1f1f1;

}

a.add_book_area {
    justify-content: center;
    margin: 20px,20px,20px,20px;
}

.form-inline-add{
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start; 
}

.add_book {
    align-self: center;
    font-style: bold;
    padding: 12px 16px;
    border: solid 5px;
    border-color: greenyellow;
    border-radius: 4px;
    background-color: #f1f1f1;
    
}

.footer {
    grid-template-areas: 'myArea myArea . .' 'myArea myArea . .';
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    column-gap: 25px;
}

.single-picture {
    margin: 8px;
    Padding: 10px,10px,10px,10px;
    overflow: hidden;
}

.img {
    height: 250px;
    max-width: 100%;     /* Set the max-width property to 100% */
    margin: 20px,20px,20px,20px;
    border: 5px solid #555;
    }