<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>{{ title }} - Books Galore Library </title>
    </head>
    <body>
        <ul>
            <li class="navLink"><a href="/books">Home</a></li>
        </ul>
        <hr>
        
        {% block content %}
        
        {% endblock %}
    </body>
    <footer class = footer>
        <div class = single_picture>
            <img class = img src="{{ url_for('static', filename='optical illusion library.jpg') }}" alt = "optical illusion library" >
        </div>
        <div class = single_picture>
            <img class = img src="{{ url_for('static', filename='think bin.jpg') }}" alt = "think bin" >
        </div>
        <div class = single_picture>
            <img class = img src="{{ url_for('static', filename='person in a circle.jpg') }}" alt = "person in a circle" >
        </div>
    </footer>
    <p style="color:rgb(97, 90, 90)">Copyright Books Galore Library. Author: Becky Entwistle</p>
</html>