{% extends "base.html" %}

{% block content %}
<div class = top-border>
    <div class="centered"><strong>Books Galore!</strong></div>
    <img src="{{ url_for('static', filename='read.jpg') }}" alt = "read bookcase" style='width:100%;'>
</div>

<div class = "book-container">
{% for book in books %}

<div class = "book">
<h2> Title: {{ book.title}} </h2>
<h3> Author: {{ book.author }} </h3>
<p> Genre: {{ book.genre }} </p>
<p> Location: {{ book.location }} </p>
<p> Synopsis: {{ book.synopsis }} </p>

    {% if book.loaned %}
    <p><i> Loaned </i></p>
    {% endif %}
<!-- need to add my delete book function first
    <form class = 'form-inline' action='/events/delete/{{book.title}}' method= 'post'>
        <input type = 'submit' value = 'Delete Book'>
    </form>
-->
</div>

{% endfor %}
</div>

{% endblock %}