{% extends "base.html" %}

{% block content %}
<div class = top-border>
    <div class="centered"><strong>Books Galore Library!</strong></div>
    <img src="{{ url_for('static', filename='read.jpg') }}" alt = "read bookcase" style='width:100%;'>
</div>

<div class = "book-container">
{% for book in books %}

<div class = "book">
<h2> {{ book.title}} </h2>
<h3> {{ book.author }} </h3>
<a href = "/books/{{ books.index(book) }}" > Show book details </a> <!--add a link to each book selected by index in orders /-->
<p> Genre: {{ book.genre }} </p>
<p> Location: {{ book.location }} </p>
<p> Synopsis: {{ book.synopsis }} </p>

    {% if book.loaned %}
    <p><i> Loaned </i></p>
    {% endif %}


    <form class = 'form-inline-delete' action='/books/delete/{{book.unique_id}}' method= 'post'>
        <input type = 'submit' value = 'Delete Book' style = "border:none">
    </form>

</div>

{% endfor %}
</div>

{% endblock %}