{% extends "base.html" %}

{% block content %}
<div class = top-border>
    <div class="centered"><strong>Books Galore Library!</strong></div>
    <img src="{{ url_for('static', filename='read.jpg') }}" alt = "read bookcase" style='width:100%;'>
</div>

<div class = "book-container">
{% for book in books %}

<div class = "book">
<h2> Title: {{ book.title}} </h2>
<h3> Author: {{ book.author }} </h3>
<a href = "/books/{{ books.index(book) }}" > Show book details </a> <!--add a link to each book selected by index in orders /-->
<p> Genre: {{ book.genre }} </p>
<p> Location: {{ book.location }} </p>
<p> Synopsis: {{ book.synopsis }} </p>

    {% if book.loaned %}
    <p><i> Loaned </i></p>
    {% endif %}


    <form class = 'form-inline-delete' action='/books/delete/{{book.unique_id}}' method= 'post'>
        <input type = 'submit' value = 'Delete Book' style = "border:none">
    </form>

</div>

{% endfor %}
</div>
<h1>Add a new book: </h1>
<a class = add_book_area >
    <form class = form-inline-add action="/books" method="post"> 
    <!-- POST request order
        self.title = title
        self.author = author
        self.genre = genre
        self.loaned = loaned
        self.location = location
        self.synopsis = synopsis
        self.unique_id = unique_id
        -->

    <label class = label for="title">Book Title</label>
    <input type="text" name="title" id="title">

    <label class = label for="title">Author - name</label>
    <input type="text" name="author" id="author">

    <label class = label for="title">Genre</label>
    <input type="text" name="genre" id="genre">

    <label class = label for="title">Loaned</label>
    <input type="checkbox" name="loaned" id="loaned" >

    <label class = label for="title">Location</label>
    <input type="text" name="location" id="room_location" placeholder="Aisle #, shelf letter">
    
    <label for="description">Synopsis</label>
    <textarea  name="synopsis" id="synopsis" rows="3" cols="30"></textarea>

    <label class = label for="title">Unique ID</label>
    <input type="text" name="unique_id" id="unique_id" placeholder="Must be unique">

    <input class = add_book type="submit" value="Add Book" style="font-weight: bold;">
    </form>
    </a>

{% endblock %}